# Environment variables
.env

venv/

# Google service account credentials
*.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

charged-gravity-444220-d2-70c441d6f918.json

nicks-the-admin-761daddb2d59.json